body {
	background-image: url("../Images/header_bg.jpg");
	background-size: 100%;
}

#block {
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	height: 40px;
	margin: 0;
	top: 0;
	left: 0;
}

.icons {
	position: relative;
	float: right;
	top: -8px;
	right: 40px;
	display: inline-block;
	text-align: center;
	background-color: #cccccc;
	color: #ffffff;
	height: 40px;
	width: 40px;
	line-height: 40px;
	margin-right: 1px;
	transition: 0.5s;
}

.icons:hover {
	background-color: #777777;
}

#logo {
	position: relative;
	margin-left: 590px;
	margin-top: 243px;
	width: 335px;
}

#items {
	font-family: 'Roboto', sans-serif;
	color: #aaaaaa;
	text-align: center;
	list-style: none;
	margin-top: 70px;
}

#items li {
	display: inline-block;
	margin-right: 65px;
}

#items li a{
	display: block;
	padding: 10px;
}

#items li a i {
	font-size: 25px;
	color: #666666;
	transition: 0.5s;
}

#items i:hover {
	color: #ffffff;
}