<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css.css">
	<title>BOSS</title>
	<script src="https://kit.fontawesome.com/0f5152dfac.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="header">
		<ul>
 			<li><a href="https://myaccount.google.com/"> <i class="fab fa-google-plus-g"></i> </a></li>
 			<li><a href="https://www.facebook.com/index.php"> <i class="fab fa-facebook-f"></i> </a></li>
       		<li><a href="https://twitter.com/"> <i class="fab fa-twitter"></i> </a></li>
  			<li><a href="mail.html"> <i class="fas fa-wifi"></i> </a></li>
		</ul>
	</div>
	<div class="body">
		<div class="logo">
			<img src="logo.png" alt="logo">
		</div>
		<div class="pagina1">
			<a href="Boss.html"><p class="home"><i class="fas fa-home"></i></p>
			<p>Home</p></a>
		</div>
		<div class="pagina2">
			<a href="Features.html"><p class="cogs"><i class="fas fa-cogs"></i></p>
			<p>Features</p></a>
		</div>
		<div class="pagina3">
			<a href="Pages.html"><p class="pages"><i class="fas fa-copy"></i></p>
			<p>Pages</p></a>
		</div>
		<div class="pagina4">
			<a href="Portfolio.html"><p class="portfolio"><i class="fas fa-th"></i></p>
			<p>Portfolio</p></a>
		</div>
		<div class="pagina5">
			<a href="Blog.html"><p class="blog"><i class="fas fa-font"></i></p>
			<p>Blog</p></a>
		</div>
		<div class="pagina6">
			<a href="Contact.html"><p class="contact"><i class="fas fa-comment"></i></p>
			<p>Contact</p></a>
		</div>
	</div>	<div class="footer">
		<p class="foot">incompleet.</p>
	</div>
</body>